{% extends "base_bg.html" %}
{% load crispy_forms_tags %}

{% block content%}
<meta name="twitter:title" content="Title">
<meta name="twitter:description" content="Cool description">
<meta name="twitter:image" content="{{object.imagem.url}}">
<meta name="twitter:card" content="summary_large_image">
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="heroimgbox-login p-4 my-5">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <img style="max-height: 600px;" src="{{object.imagem.url}}" alt="Imagem Avental" width="100%">
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="p-2">{{ object.first_name }} {{ object.last_name }}</h3>
                    <h5 class="p-2">Votos: {{votos}}</h5>
                    <a class="m-2 btn btn-outline-info" href="{% url 'users:voto' object.id %}">Votar</a>
                    <br>
                    <br>
                    <h5 class="m-2" style="border-bottom: 1px solid black;">Partilhe</h5>
                    <div class="m-2">
                        <a class="mr-2" style="font-size: 35px;" href="https://api.whatsapp.com/send?text={{request.META.HTTP_HOST}}/" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a class="mr-2" style="font-size: 35px;" href="https://www.facebook.com/sharer/sharer.php?u=atlas.qloudyx.pt" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                    </div>
                    <script>navigator.clipboard.writeText(window.location.href);</script>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}