{% extends "base_bg.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row" style="padding:50px">
    {% for object in object_list %}
    <div class="col-lg-3 col-12">
        <div class="card heroimgbox">
            <img class="card-img-top heroimg" src="{{object.imagem.url}}" alt="Card image cap" height="300px">
            <div class="card-body">
            <h5 class="card-title">{{object.first_name}} {{object.last_name}}</h5>
            <p class="card-text">Votos: {{object.votos}}</p>
            <a href="{% url 'users:detail' object.id %}" class="btn btn-primary">ver</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}