{% extends "base_bg.html" %}
{% load crispy_forms_tags %}

{% block content%}
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="heroimgbox-login p-4 my-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color: #23282A;"><i style="width: 30px" class="fa-solid fa-user-plus"></i>Participar</legend>
                    {{ form.user.as_hidden }}
                    {{ form.email|as_crispy_field }}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.imagem|as_crispy_field }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}