<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Valide a sua participação! Viagem à Fábrica da Vorwerk</title>
  </head>
  <body>
    <p>Olá {{ email }}!,</p>
    <p>Recebemos a sua participação no desafio “Viagem à Fábrica da Vorwerk”. Para validarmos a sua participação, por favor clique no link abaixo:</p>
    <p><a href="{{ verification_link }}">Validar participação</a></p>
    <p>Ao clicar em “validar participação” está a aceitar os termos e condições e política de privacidade do Desafio.</p>
    <p>A partir do momento em que a participação é validada por si, a mesma fica disponível em passatempo.bimby.pt.</p>
    <p>Consulte o regulamento do Desafio <a href="https://www.vorwerk.com/pt/pt/c/dam-home/downloads/regulamentos-passatempos/Regulamento-desafio-viagem-a-fabrica-2023.pdf">aqui</a>.</p>
    <p>Boa sorte!</p>
    <p>Equipa Bimby®</p>
  </body>
</html>
