<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HPDrones - Password Reset</title>
  </head>
  <body>
    <p>Dear {{ email }},</p>
    <p>We have received your request to reset your password.</p>
    <p>Please click on the following link to reset your password:</p>
    <p><a href="{{ verification_link }}">Click here to reset your password</a></p>
    <p>This link will be valid for {{ expires_in }} minute(s).</p>
    <p>If you did not request this password reset, please ignore this message.</p>
    <p>Thank you,</p>
    <p>HPDrones</p>
  </body>
</html>
